{% extends "layout.html" %}
{% block title %}
Hip Local
{% endblock %}
{% block content %}

<div class="mdl-grid portfolio-max-width portfolio-contact">
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Tell us about your event</h2>
        </div>
        <div class="mdl-card__media">
            <img class="article-image" src="{{ url_for('static', filename='images/contact-image.jpg')}}" border="0" alt="">
        </div>
        <div class="mdl-card__supporting-text">
            <form  method="post" action="/happenings/add" enctype="multipart/form-data" class="">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" pattern="[A-Z,a-z, ]*" required type="text" id="name" name="name">
                    <label class="mdl-textfield__label" for="name">Name...</label>
                    <span class="mdl-textfield__error">Letters and spaces only</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <textarea class="mdl-textfield__input" type="text" rows="5" id="description" name="description"></textarea>
                    <label class="mdl-textfield__label" for="description">Description</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
                    <input class="mdl-textfield__input" placeholder="No jpg chosen" type="text" id="image" readonly />
                    <div class="mdl-button mdl-button--icon mdl-button--file">
                        <i class="material-icons">attach_file</i>
                        <input type="file" name="image" id="image" onchange="document.getElementById('image').value=this.files[0].name;" />
                    </div>
                </div>
                <p>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        type="submit">
                        Submit
                    </button>
                </p>
            </form>
        </div>
    </div>
</div>
    {% endblock %}