{% extends "layout.html" %}
{% block title %}
Login to Hip Local via Google
{% endblock %}
{% block content %}

<div class="mdl-grid portfolio-max-width">
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Login to Hip Local</h2>
        </div>

        <div class="mdl-grid portfolio-copy">
          Sorry, this functionality is for logged in users only.
        </div>
    </div>
</div>


{% endblock %}